<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title
	th:text="${@environment.getProperty('app.name')} + ' - getMergeAncessorOip'"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div th:insert="menu :: navbar"></div>
		<nav style="--bs-breadcrumb-divider: '>';"
			aria-label="breadcrumb">
			<ol class="breadcrumb ">
				<li class="breadcrumb-item"><a href="/">PersonInfoService</a></li>
				<li class="breadcrumb-item active" aria-current="page">getMergeAncessorOip</li>
			</ol>
		</nav>
		<form th:method="POST" th:action="@{/ancessor}" id="persForm">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="oip">ОИП</label>
						<input type="text" th:field="*{searchParams.oip}" id="oip"
							class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('searchParams.oip')} ? 'is-invalid' : ''"
							placeholder="обезличенный идентификатор" />
					</div>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-sm">
					<input type="submit" value="Поиск" class="btn btn-sm btn-primary"
						name="saveRequest" />&nbsp;<input type="button" value="Очистить"
						onclick="location.href='/ancessor'"
						class="btn btn-sm btn-secondary" />&nbsp;<input type="button"
						value="Обновить"
						th:onclick="|goToPage(${persDataPage.number + 1})|"
						class="btn btn-sm btn-secondary" /><input type="hidden" id="page"
						name="page" />
				</div>
			</div>
			<hr/>
			<div th:if="${persDataPage.content.size} > 0">
				<table class="table table-sm">
					<thead class="thead-dark">
						<tr class="small">
							<th>Дата поиска</th>
							<th>ОИП</th>
							<th>Дата объединения</th>
							<th>ОИП продолжателя</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="persData, iStat : ${persDataPage.content}"
							class='clickable-row small'
							th:attr="data-rid=${persData.rid}, data-err=${persData.hasError != null && persData.hasError}"
							onclick="goToResult(this.getAttribute('data-rid'), this.getAttribute('data-err'))"
							style="cursor: pointer;"
							th:classappend="|${persData.hasError != null && !persData.hasError ? 'table-success' : ''} ${persData.hasError != null && persData.hasError ? 'table-danger' : ''}|">
							<td
								th:text="${#temporals.format(persData.dtIns, 'dd.MM.yyyy HH:mm:ss')}" />
							<td th:text="${persData.oip}" />
							<td
								th:text="${#temporals.format(persData.whenMerged, 'dd.MM.yyyy HH:mm:ss')}" />
							<td th:text="${persData.mergeAncessorOip}" />
						</tr>
					</tbody>
				</table>
				<nav aria-label="Pagination" th:if="${persDataPage.totalPages gt 0}">
					<ul
						class="pagination pagination-sm justify-content-center font-weight-medium">
						<li>Дата поиска&nbsp;</li>
						<li><input type="date" th:field="*{searchParams.dateFrom}"
							class="form-control form-control-sm" id="dateFrom" /></li>
						<li>&nbsp;-&nbsp;</li>
						<li><input type="date" th:field="*{searchParams.dateTo}"
							class="form-control form-control-sm" id="dateTo" /></li>
						<li class="page-item"
							th:classappend="${persDataPage.number eq 0} ? 'disabled'">
							<button type="button" class="btn btn-sm btn-link"
								th:classappend="${persDataPage.number eq 0} ? 'disabled'"
								th:onclick="|goToPage(${persDataPage.number lt 2 ? 1 : persDataPage.number})|">
								<p>&#60;&#60;
								<p>
							</button>
						</li>
						<li class="page-item"
							th:classappend="${i eq persDataPage.number + 1} ? 'active'"
							th:each="i : ${#numbers.sequence(persDataPage.totalPages > persDataPage.number + 10 ? persDataPage.number + 1 : persDataPage.totalPages - 10 > 0 ? persDataPage.totalPages - 10 : 1, persDataPage.totalPages > 10 + persDataPage.number ? persDataPage.number + 10 : persDataPage.totalPages, 1)}">
							<a class="page-link" href="#" th:onclick="|goToPage(${i})|"
							th:text="${i}"><span class="sr-only">(current)</span></a>
						</li>
						<li class="page-item disabled"
							th:if="${persDataPage.number + 10 < persDataPage.totalPages}"><a
							class="page-link" href="#"> ... </a></li>
						<li class="page-item"
							th:classappend="${persDataPage.number + 1 eq persDataPage.totalPages} ? 'disabled'">
							<button type="button" class="btn btn-sm btn-link"
								th:classappend="${persDataPage.number + 1 eq persDataPage.totalPages} ? 'disabled'"
								th:onclick="|goToPage(${persDataPage.number + 2})|">
								<p>&#62;&#62;
								<p>
							</button>
						</li>
					</ul>

				</nav>
			</div>
		</form>
	</div>
	<form th:method="POST" th:action="@{/ancessor/res}" target="_blank" id="resForm">
		<input type="hidden" name="rid" />
	</form>
	<footer class="text-center text-lg-start fixed-bottom"
		th:fragment="footer" th:insert="copyright"> </footer>
	<script type="text/javascript">
		document.getElementById("persForm").onkeypress = function(e) {
			var key = e.charCode || e.keyCode || 0;
			if (key == 13) {
				e.preventDefault();
			}
		}
		function goToPage(page) {
			document.getElementById("persForm").page.value = page;
			document.getElementById("persForm").submit();
		}
		function goToResult(rid, err) {
			if (err == "true") {
				form = document.getElementById("resForm");
				form.rid.value = rid;
				form.submit();
			}
		}
	</script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>