<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title
	th:text="${@environment.getProperty('app.name')} + ' - О программе'"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div th:insert="menu :: navbar"></div>
		<table class="table table-bordered caption-top">
			<caption>Сервис MpiPersonInfoService – Предоставление
				сведений о персоне</caption>
			<thead class="table-light">
				<tr>
					<th>Метод</th>
					<th>Описание</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="/insurstat">getInsuranceStatus</a></td>
					<td>Выдает данные страховой принадлежности персоны по ее
						полису/ДУДЛ для оператора МО, СМО, ТФОМС при этом полис/ДУДЛ и др.
						идентификаторы поиска могут быть не актуальными, а историческими.</td>
				</tr>
				<tr>
					<td><a href="/persdata">getPersonData</a></td>
					<td>Выдает данные персоны по ее полису/ДУДЛ для оператора МО,
						СМО, ТФОМС, ФФОМС при этом полис/ДУДЛ и др. идентификаторы поиска
						могут быть не актуальными, а историческими.</td>
				</tr>
				<tr>
					<td><a href="/persdata?historical=1">getPersonDataHistory</a></td>
					<td>Выдает историю данных персоны по ее полису/ДУДЛ для СМО,
						ТФОМС при этом полис/ДУДЛ и др. идентификаторы поиска могут быть
						не актуальными, а историческими.</td>
				</tr>
				<tr>
					<td><a href="/perscrit">findPersonsByPersCriteria</a></td>
					<td>Выдает список кратких сведений о персонах по параметрам.</td>
				</tr>
				<tr>
					<td><a href="/ancessor">getMergeAncessorOip</a></td>
					<td>Выдает по ОИП объединенной персоны ОИП актуальной
						персоны-продолжателя.</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
	<footer class="text-center text-lg-start fixed-bottom"
		th:fragment="footer" th:insert="copyright"> </footer>
</body>
</html>