<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title
	th:text="${@environment.getProperty('app.name')} + ' - Авторизация'"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />

</head>
<body>
	<div class="container d-flex align-items-center justify-content-center">
		<h1 class="mb-3">
			<span th:text="${@environment.getProperty('app.name')}"></span>
			&nbsp;&nbsp;<span class="h6"
				th:text="'v' + ${@environment.getProperty('app.version')}"></span>
		</h1>
	</div>
	<div class="container d-flex align-items-center justify-content-center">
		<form th:method="POST" th:action="@{/login}">
			<div class="form-outline mb-4">
				<label class="form-label" for="name"> Имя </label> <input
					type="text" id="name" class="form-control" name="name" required />
			</div>

			<div class="form-outline mb-4">
				<label class="form-label" for="passwd"> Пароль </label> <input
					type="password" id="passwd" class="form-control" name="passwd"
					required />
			</div>

			<div class="alert alert-danger" role="alert" th:if="${param.error}">Неверное
				имя/пароль</div>

			<button type="submit" class="btn btn-primary">Войти</button>
		</form>
	</div>
	<footer class="text-center text-lg-start fixed-bottom"
		th:fragment="footer" th:insert="copyright"> </footer>
</body>
</html>