<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title
	th:text="${@environment.getProperty('app.name')} + ' - findPersonsByPersCriteria'"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div th:insert="menu :: navbar"></div>
		<nav style="--bs-breadcrumb-divider: '&gt;';" aria-label="breadcrumb">
			<ol class="breadcrumb ">
				<li class="breadcrumb-item"><a href="/">PersonInfoService</a></li>
				<li class="breadcrumb-item active" aria-current="page">findPersonsByPersCriteria</li>
			</ol>
		</nav>
		<form th:method="POST" th:action="@{/perscrit}" id="persForm">
			<div class="row">
				<div class="col-sm-5">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="terrOkato">ОКАТО
							территории</label> <select th:field="*{persCritSParam.terrOkato}"
							class="form-select form-select-sm"
							th:classappend="${#fields.hasErrors('persCritSParam.terrOkato')} ? 'is-invalid' : ''">
							<option value=""></option>
							<option th:each="okato : ${okatos}" th:value="${okato.code}"
								th:text="${okato.title}"
								th:selected="${persCritSParam.terrOkato}"></option>
						</select>
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('persCritSParam.terrOkato')}">Выберите
							регион</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="lastName">Фамилия</label>
						<input type="text" th:field="*{persCritSParam.lastName}"
							placeholder="фамилия" id="lastName"
							class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('persCritSParam.lastName')} ? 'is-invalid' : ''" />
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('persCritSParam.lastName')}">Минимум
							первые три буквы, максимум - 40</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="firstName">Имя</label>
						<input type="text" th:field="*{persCritSParam.firstName}"
							placeholder="имя" id="firstName"
							class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('persCritSParam.firstName')} ? 'is-invalid' : ''" />
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('persCritSParam.firstName')}">Минимум
							первые три буквы, максимум - 40</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="patronymic">Отчество</label>
						<input type="text" th:field="*{persCritSParam.patronymic}"
							placeholder="отчество" id="patronymic"
							class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('persCritSParam.patronymic')} ? 'is-invalid' : ''" />
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('persCritSParam.patronymic')}">Минимум
							первые три буквы, максимум - 40</div>
					</div>
				</div>
			</div>
			<div class="alert alert-danger" role="alert"
				th:if="${#fields.hasErrors('persCritSParam')}"
				th:errors="*{persCritSParam}"></div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="oldsfp">Признак
							поиска по архивным ФИО</label> <select class="form-select form-select-sm"
							th:field="*{persCritSParam.oldsfp}">
							<option value="0">Прямые таблицы</option>
							<option value="1">Архивные таблицы</option>
						</select>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm"
							for="dostContainer">Коды надежности идентификации </label>
						<div id="dostContainer" class="bg-light border-top border-bottom">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="dost1"
									value="1"
									th:checked="${persCritSParam.dost != null && persCritSParam.dost.contains('1')}"
									name="dost" /><label for="dost1" class="form-check-label">отсутствует
									отчество&nbsp;&nbsp;</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="dost2"
									value="2"
									th:checked="${persCritSParam.dost != null && persCritSParam.dost.contains('2')}"
									name="dost" /><label for="dost2" class="form-check-label">отсутствует
									фамилия&nbsp;&nbsp;</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="dost3"
									value="3"
									th:checked="${persCritSParam.dost != null && persCritSParam.dost.contains('3')}"
									name="dost" /><label for="dost3" class="form-check-label">отсутствует
									имя</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="oksm">Гражданство</label>
						<select class="form-select form-select-sm"
							th:field="*{persCritSParam.oksm}">
							<option value=""></option>
							<option th:each="oksm : ${oksms}" th:value="${oksm.alfa3}"
								th:text="${oksm.name1}" th:selected="${persCritSParam.oksm}"></option>
						</select>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm"
							for="noCitizenshipDiv">Признак лица без гражданства</label>
						<div class="bg-light border-top border-bottom">
							<div class="form-check" id="noCitizenshipDiv">
								<input class="form-check-input" type="checkbox"
									id="noCitizenship" th:field="*{persCritSParam.noCitizenship}">
								<label class="form-check-label" for="noCitizenship">отсутствует
									гражданство</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="oip">Обезличенный
							идентификатор персоны</label> <input type="text"
							th:field="*{persCritSParam.oip}" id="oip"
							placeholder="ОИП"
							class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('persCritSParam.oip')} ? 'is-invalid' : ''" />
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('persCritSParam.oip')}">Превышена
							максимальная длина</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="birthDayFrom">ДР
							с</label> <input type="date" th:field="*{persCritSParam.birthDayFrom}"
							id="birthDayFrom" class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('persCritSParam.birthDayFrom')} ? 'is-invalid' : ''" />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="birthDayTo">ДР
							по</label> <input type="date" th:field="*{persCritSParam.birthDayTo}"
							id="birthDayTo" class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('persCritSParam.birthDayTo')} ? 'is-invalid' : ''" />
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('persCritSParam.birthDayTo')}">Диапазон
							дат более 12 месяцев</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm"
							for="deathDateFrom">Дата смерти с</label> <input type="date"
							th:field="*{persCritSParam.deathDateFrom}" id="deathDateFrom"
							class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('persCritSParam.deathDateFrom')} ? 'is-invalid' : ''" />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="deathDateTo">Дата
							смерти по</label> <input type="date"
							th:field="*{persCritSParam.deathDateTo}" id="deathDateTo"
							class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('persCritSParam.deathDateTo')} ? 'is-invalid' : ''" />
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('persCritSParam.deathDateTo')}">Диапазон
							дат более 12 месяцев</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="policyType">Тип
							полиса страхования</label> <select
							th:field="*{persCritSParam.policyType}"
							class="form-select form-select-sm">
							<option value=""></option>
							<option th:each="policyTypeEntry : ${policyTypes.entrySet}"
								th:value="${policyTypeEntry.key}"
								th:text="${policyTypeEntry.value}"
								th:selected="${persCritSParam.policyType}"></option>
						</select>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="pcySer">Серия
							полиса (старого образца)</label> <input type="text" placeholder="серия"
							th:field="*{persCritSParam.pcySer}" id="pcySer"
							class="form-control form-control-sm" />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="pcyNum">Номер
							полиса </label> <input type="text" th:field="*{persCritSParam.pcyNum}"
							id="pcyNum" class="form-control form-control-sm" placeholder="номер"
							th:classappend="${#fields.hasErrors('persCritSParam.pcyNum')} ? 'is-invalid' : ''" />
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('persCritSParam.pcyNum')}">Превышена
							максимальная длина</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="dudlType">Тип
							ДУДЛ</label> <select th:field="*{persCritSParam.dudlType}"
							class="form-select form-select-sm">
							<option value=""></option>
							<option th:each="dudlType : ${dudlTypes}"
								th:value="${dudlType.docCode}" th:text="${dudlType.docName}"
								th:selected="${persCritSParam.dudlType}"></option>
						</select>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="dudlSer">Серия
							ДУДЛ</label> <input type="text" th:field="*{persCritSParam.dudlSer}"
							id="dudlSer" class="form-control form-control-sm" placeholder="серия"
							th:classappend="${#fields.hasErrors('persCritSParam.dudlSer')} ? 'is-invalid' : ''" />
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('persCritSParam.dudlSer')}">Превышена
							максимальная длина</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="dudlNum">Номер
							ДУДЛ</label> <input type="text" th:field="*{persCritSParam.dudlNum}"
							id="dudlNum" class="form-control form-control-sm" placeholder="номер"
							th:classappend="${#fields.hasErrors('persCritSParam.dudlNum')} ? 'is-invalid' : ''" />
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('persCritSParam.dudlNum')}">Превышена
							максимальная длина</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="snils">СНИЛС</label>
						<input type="text" th:field="*{persCritSParam.snils}" id="snils"
							class="form-control form-control-sm" placeholder="СНИЛС"
							th:classappend="${#fields.hasErrors('persCritSParam.snils')} ? 'is-invalid' : ''" />
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('persCritSParam.snils')}">Превышена
							максимальная длина</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="birthDay">Дата
							рождения</label> <input type="date" th:field="*{persCritSParam.birthDay}"
							id="birthDay" class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('persCritSParam.birthDay')} ? 'is-invalid' : ''" />
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="ern">ИД
							ЕРН</label> <input type="text" th:field="*{persCritSParam.ern}" id="ern"
							class="form-control form-control-sm" placeholder="ЕРН"
							th:classappend="${#fields.hasErrors('persCritSParam.ern')} ? 'is-invalid' : ''" />
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('persCritSParam.ern')}">Превышена
							максимальная длина</div>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<label class="col-form-label col-form-label-sm" for="dt">Дата,
							на которую выдать состояние</label> <input type="date"
							th:field="*{persCritSParam.dt}" id="dt"
							class="form-control form-control-sm"
							th:classappend="${#fields.hasErrors('persCritSParam.dt')} ? 'is-invalid' : ''" />
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-sm">
					<input type="submit" value="Поиск" class="btn btn-sm btn-primary"
						name="saveRequest" />&nbsp;<input type="button" value="Очистить"
						onclick="location.href='/perscrit'"
						class="btn btn-sm btn-secondary" />&nbsp;<input type="button"
						value="Обновить"
						th:onclick="|goToPage(${persCritDataPage.number + 1})|"
						class="btn btn-sm btn-secondary" /> <input type="hidden"
						id="page" name="page" />
				</div>
			</div>
			<hr />
			<div th:if="${persCritDataPage.content.size} > 0">
				<table class="table table-sm">
					<thead class="thead-dark">
						<tr class="small">
							<th>Дата поиска</th>
							<th>ОИП</th>
							<th>Номер полиса</th>
							<th>Серия ДУДЛ</th>
							<th>Номер ДУДЛ</th>
							<th>СНИЛС</th>
							<th>Дата рождения</th>
							<th>Фамилия</th>
							<th>Имя</th>
							<th>Отчество</th>
							<th>Найдено</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="persData, iStat : ${persCritDataPage.content}"
							class='clickable-row small'
							th:attr="data-rid=${persData.rid}, data-done=${persData.hasError != null}"
							onclick="goToResult(this.getAttribute('data-rid'), this.getAttribute('data-done'))"
							style="cursor: pointer;"
							th:classappend="|${persData.hasError != null && !persData.hasError ? 'table-success' : ''} ${persData.hasError != null && persData.hasError ? 'table-danger' : ''}|">
							<td
								th:text="${#temporals.format(persData.dtIns, 'dd.MM.yyyy HH:mm:ss')}" />
							<td th:text="${persData.oip}" />
							<td th:text="${persData.pcyNum}" />
							<td th:text="${persData.dudlSer}" />
							<td th:text="${persData.dudlNum}" />
							<td th:text="${persData.snils}" />
							<td
								th:text="${#temporals.format(persData.birthDay, 'dd.MM.yyyy')}" />
							<td th:text="${persData.lastName}" />
							<td th:text="${persData.firstName}" />
							<td th:text="${persData.patronymic}" />
							<td th:text="${persData.persFoundCnt}" />
						</tr>
					</tbody>
				</table>
				<nav aria-label="Pagination"
					th:if="${persCritDataPage.totalPages gt 0}">
					<ul
						class="pagination pagination-sm justify-content-center font-weight-medium">
						<li>Дата поиска&nbsp;</li>
						<li><input type="date" th:field="*{persCritSParam.dateFrom}"
							class="form-control form-control-sm" id="dateFrom" /></li>
						<li>&nbsp;-&nbsp;</li>
						<li><input type="date" th:field="*{persCritSParam.dateTo}"
							class="form-control form-control-sm" id="dateTo" /></li>
						<li class="page-item"
							th:classappend="${persCritDataPage.number eq 0} ? 'disabled'">
							<button type="button" class="btn btn-sm btn-link"
								th:classappend="${persCritDataPage.number eq 0} ? 'disabled'"
								th:onclick="|goToPage(${persCritDataPage.number lt 2 ? 1 : persCritDataPage.number})|">
								<p>&#60;&#60;
								<p>
							</button>
						</li>
						<li class="page-item"
							th:classappend="${i eq persCritDataPage.number + 1} ? 'active'"
							th:each="i : ${#numbers.sequence(persCritDataPage.totalPages > persCritDataPage.number + 10 ? persCritDataPage.number + 1 : persCritDataPage.totalPages - 10 > 0 ? persCritDataPage.totalPages - 10 : 1, persCritDataPage.totalPages > 10 + persCritDataPage.number ? persCritDataPage.number + 10 : persCritDataPage.totalPages, 1)}">
							<a class="page-link" href="#" th:onclick="|goToPage(${i})|"
							th:text="${i}"><span class="sr-only">(current)</span></a>
						</li>
						<li class="page-item disabled"
							th:if="${persCritDataPage.number + 10 < persCritDataPage.totalPages}"><a
							class="page-link" href="#"> ... </a></li>
						<li class="page-item"
							th:classappend="${persCritDataPage.number + 1 eq persCritDataPage.totalPages} ? 'disabled'">
							<button type="button" class="btn btn-sm btn-link"
								th:classappend="${persCritDataPage.number + 1 eq persCritDataPage.totalPages} ? 'disabled'"
								th:onclick="|goToPage(${persCritDataPage.number + 2})|">
								<p>&#62;&#62;
								<p>
							</button>
						</li>
					</ul>
				</nav>
			</div>
		</form>
	</div>
	<form th:method="POST" th:action="@{/perscrit/res}" target="_blank" id="resForm">
		<input type="hidden" name="rid" />
	</form>
	<footer class="text-center text-lg-start" th:fragment="footer"
		th:insert="copyright"> </footer>
	<script type="text/javascript">
		document.getElementById("persForm").onkeypress = function(e) {
			var key = e.charCode || e.keyCode || 0;
			if (key == 13) {
				e.preventDefault();
			}
		}
		function goToPage(page) {
			document.getElementById("persForm").page.value = page;
			document.getElementById("persForm").submit();
		}
		function goToResult(rid, done) {
			if (done == "true") {
				form = document.getElementById("resForm");
				form.rid.value = rid;
				form.submit();
			}
		}
	</script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>