<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="accordion-item" th:fragment="Person">
		<h2 class="accordion-header" id="headingPerson">
			<button
				th:text="${resultTypes.get(T(ru.sartfoms.personinfo.service.PersonDataService.Show).Person)}"
				class="accordion-button collapsed" data-bs-toggle="collapse"
				data-bs-target="#collapsePerson" aria-expanded="false"
				aria-controls="collapsePerson"></button>
		</h2>
		<div id="collapsePerson" class="accordion-collapse collapse"
			aria-labelledby="headingPerson" data-bs-parent="#accordion">
			<div class="accordion-body">
				<table class="table table-sm" th:if="${persons.size > 0}">
					<thead>
						<tr class="small">
							<th>Фамилия</th>
							<th>Имя</th>
							<th>Отчество</th>
							<th>Дата рождения</th>
							<th>Пол</th>
							<th>Страна рождения</th>
							<th>Дата смерти</th>
							<th>Дата объединения</th>
							<th>Статус</th>
							<th>Дата изменения</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="person : ${persons}" class='small'>
							<td th:text="${person.lastName}" />
							<td th:text="${person.firstName}" />
							<td th:text="${person.patronymic}" />
							<td th:text="${#temporals.format(person.birthDay, 'dd.MM.yyyy')}" />
							<td th:text="${person.gender == 1 ? 'М' : 'Ж'}" />
							<td
								th:text="${person.birthOksm != null ? person.birthOksm.name2 : ''}" />
							<td
								th:text="${#temporals.format(person.deathDate, 'dd.MM.yyyy')}" />
							<td
								th:text="${#temporals.format(person.whenMerged, 'dd.MM.yyyy HH:mm:ss')}" />
							<td th:text="${person.status}" />
							<td
								th:text="${#temporals.format(person.dateEdit, 'dd.MM.yyyy HH:mm:ss')}" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="accordion-item" th:fragment="OmsPolicy">
		<h2 class="accordion-header" id="headingPolicy">
			<button
				th:text="${resultTypes.get(T(ru.sartfoms.personinfo.service.PersonDataService.Show).OmsPolicy)}"
				class="accordion-button collapsed" data-bs-toggle="collapse"
				data-bs-target="#collapsePolicy" aria-expanded="false"
				aria-controls="collapsePolicy"></button>
		</h2>
		<div id="collapsePolicy" class="accordion-collapse collapse"
			aria-labelledby="headingPolicy" data-bs-parent="#accordion">
			<div class="accordion-body">
				<div class="row shadow-lg p-3 mb-5 bg-white rounded"
					th:if="${policies.size > 0}" th:each="policy : ${policies}">

					<div class="col-4">Полис(старого образца)</div>
					<div class="col-8"
						th:text="${policy.pcySer != null ? policy.pcySer : ''} + ' ' + ${policy.pcyNum != null ? policy.pcyNum : ''}"></div>

					<div class="col-4 bg-light">ЕНП расчетный</div>
					<div class="col-8 bg-light" th:text="${policy.enpCalc}"></div>

					<div class="col-4">ЕНП (нового образца)</div>
					<div class="col-8" th:text="${policy.enp}"></div>

					<div class="col-4 bg-light">Дата начала действия полиса</div>
					<div class="col-8 bg-light"
						th:text="${#temporals.format(policy.pcyDateB, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Дата окончания действия полиса</div>
					<div class="col-8"
						th:text="${#temporals.format(policy.pcyDateE, 'dd.MM.yyyy')}"></div>

					<div class="col-4 bg-light">Дата выдачи полиса на руки</div>
					<div class="col-8 bg-light"
						th:text="${#temporals.format(policy.pcyDateH, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Дата обращения за полисом</div>
					<div class="col-8"
						th:text="${#temporals.format(policy.pcyDateT, 'dd.MM.yyyy')}"></div>

					<div class="col-4 bg-light">Дата расчёта номера ЕНП</div>
					<div class="col-8 bg-light"
						th:text="${#temporals.format(policy.pcyDateEnpCalc, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Дата изготовления полиса</div>
					<div class="col-8"
						th:text="${#temporals.format(policy.pcyDatePr, 'dd.MM.yyyy')}"></div>

					<div class="col-4 bg-light">Тип полиса страхования</div>
					<div class="col-8 bg-light" th:text="${policy.pcyType}"></div>

					<div class="col-4">Статус полиса</div>
					<div class="col-8" th:text="${policy.pcyStatus}"></div>

					<div class="col-4 bg-light">ОКАТО территории страхования</div>
					<div class="col-8 bg-light"
						th:text="${policy.okato != null ? policy.okato.title : ''}"></div>

					<div class="col-4">Источник данных</div>
					<div class="col-8"
						th:text="${policy.dsource != null ? policy.dsource.title : policy.dsourceStr}"></div>

					<div class="col-4 bg-light">Вид источника данных</div>
					<div class="col-8 bg-light" th:text="${policy.dsourceType}"></div>

					<div class="col-4">Описание</div>
					<div class="col-8" th:text="${policy.descr}"></div>

					<div class="col-4 bg-light">Половая принадлежность</div>
					<div class="col-8 bg-light"
						th:text="${policy.gender == 1 ? 'М' : 'Ж'}"></div>

					<div class="col-4">Официальная СМО</div>
					<div class="col-8" th:text="${policy.insurName}"></div>

					<div class="col-4 bg-light">Фактическая СМО</div>
					<div class="col-8 bg-light" th:text="${policy.insurfName}"></div>

					<div class="col-4">ОГРН официальной СМО</div>
					<div class="col-8" th:text="${policy.insurOgrn}"></div>

					<div class="col-4 bg-light">ОГРН фактической СМО</div>
					<div class="col-8 bg-light" th:text="${policy.insurfOgrn}"></div>

					<div class="col-4">Код официальной СМО</div>
					<div class="col-8" th:text="${policy.insurCode}"></div>

					<div class="col-4 bg-light">Код фактической СМО</div>
					<div class="col-8 bg-light" th:text="${policy.insurfCode}"></div>

					<div class="col-4">Дата начала работы с ЗЛ</div>
					<div class="col-8"
						th:text="${#temporals.format(policy.insurfDate, 'dd.MM.yyyy')}"></div>

					<div class="col-4 bg-light">Номер временного свидет-ва</div>
					<div class="col-8 bg-light" th:text="${policy.tmpcertNum}"></div>

					<div class="col-4">Дата начала действия ВС</div>
					<div class="col-8"
						th:text="${#temporals.format(policy.tmpcertDateB, 'dd.MM.yyyy')}"></div>

					<div class="col-4 bg-light">Дата окончания действия ВС</div>
					<div class="col-8 bg-light"
						th:text="${#temporals.format(policy.tmpcertDateE, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Номер универсал. элек. карты</div>
					<div class="col-8" th:text="${policy.uekNum}"></div>

					<div class="col-4 bg-light">Категория ЗЛ</div>
					<div class="col-8 bg-light"
						th:text="${policy.pcyCategory != null ? policy.pcyCategory.name : ''}"></div>

					<div class="col-4">Номер бланка полиса</div>
					<div class="col-8" th:text="${policy.blankNum}"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="accordion-item" th:fragment="Dudl">
		<h2 class="accordion-header" id="headingDudl">
			<button
				th:text="${resultTypes.get(T(ru.sartfoms.personinfo.service.PersonDataService.Show).Dudl)}"
				class="accordion-button collapsed" data-bs-toggle="collapse"
				data-bs-target="#collapseDudl" aria-expanded="false"
				aria-controls="collapseDudl"></button>
		</h2>
		<div id="collapseDudl" class="accordion-collapse collapse"
			aria-labelledby="headingDudl" data-bs-parent="#accordion">
			<div class="accordion-body">
				<div class="row shadow-lg p-3 mb-5 bg-white rounded"
					th:if="${dudls.size > 0}" th:each="dudl : ${dudls}">
					<div class="col-4">Cерия ДУДЛ</div>
					<div class="col-8" th:text="${dudl.dudlSer}"></div>

					<div class="col-4 bg-light">№ ДУДЛ</div>
					<div class="col-8 bg-light" th:text="${dudl.dudlNum}"></div>

					<div class="col-4">Дата начала действия</div>
					<div class="col-8"
						th:text="${#temporals.format(dudl.dudlDateB, 'dd.MM.yyyy')}"></div>

					<div class="col-4 bg-light">Дата окончания действия</div>
					<div class="col-8 bg-light"
						th:text="${#temporals.format(dudl.dudlDateE, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Тип ДУДЛ</div>
					<div class="col-8"
						th:text="${dudl.dudlType != null ? dudl.dudlType.docName : dudl.dudlTypeStr}"></div>

					<div class="col-4 bg-light">Кем выдан</div>
					<div class="col-8 bg-light" th:text="${dudl.issuer}"></div>

					<div class="col-4">Код страны выдачи</div>
					<div class="col-8"
						th:text="${dudl.issuerOksm != null ? dudl.issuerOksm.name2 : ''}"></div>

					<div class="col-4 bg-light">Гражданство</div>
					<div class="col-8 bg-light"
						th:text="${dudl.ctznOksm != null ? dudl.ctznOksm.name2 : ''}"></div>

					<div class="col-4">Признак отсутствия гражданства</div>
					<div class="col-8" th:text="${dudl.noCitizenship}"></div>

					<div class="col-4 bg-light">Источник данных</div>
					<div class="col-8 bg-light"
						th:text="${dudl.dsource != null ? dudl.dsource.title : dudl.dsourceStr}"></div>

					<div class="col-4">Описание</div>
					<div class="col-8" th:text="${dudl.descr}"></div>

					<div class="col-4 bg-light">Место рождения</div>
					<div class="col-8 bg-light" th:text="${dudl.birthPlace}"></div>

					<div class="col-4">Вид источника</div>
					<div class="col-8" th:text="${dudl.dsourceType}"></div>

					<div class="col-4 bg-light">Страна рождения</div>
					<div class="col-8 bg-light"
						th:text="${dudl.birthOksm != null ? dudl.birthOksm.name2 : ''}"></div>

					<div class="col-4">Статус ДУДЛ</div>
					<div class="col-8" th:text="${dudl.dudlStatus}"></div>

					<div class="col-4 bg-light">Коды надежности идентификации</div>
					<div class="col-8 bg-light" th:text="${dudl.dost}"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="accordion-item" th:fragment="Address">
		<h2 class="accordion-header" id="headingAddress">
			<button
				th:text="${resultTypes.get(T(ru.sartfoms.personinfo.service.PersonDataService.Show).Address)}"
				class="accordion-button collapsed" data-bs-toggle="collapse"
				data-bs-target="#collapseAddress" aria-expanded="false"
				aria-controls="collapseAddress"></button>
		</h2>
		<div id="collapseAddress" class="accordion-collapse collapse"
			aria-labelledby="headingAddress" data-bs-parent="#accordion">
			<div class="accordion-body">
				<div class="row shadow-lg p-3 mb-5 bg-white rounded"
					th:if="${addresses.size > 0}" th:each="address : ${addresses}">
					<div class="col-4">ОКСМ</div>
					<div class="col-8"
						th:text="${address.oksm != null ? address.oksm.name2 : ''}"></div>

					<div class="col-4 bg-light">Регион</div>
					<div class="col-8 bg-light"
						th:text="${address.okato != null ? address.okato.title : ''}"></div>

					<th:block th:if="${address.aoguid != null}">
						<div class="col-4">Адрес до улицы</div>
						<div class="col-8"
							th:text="${addrChains.get(address.nr) != null ? addrChains.get(address.nr) : ''}"></div>
					</th:block>

					<th:block th:if="${address.hsguid != null}">
						<div class="col-4">Дом</div>
						<div class="col-8"
							th:text="${houses.get(address.nr) != null ? houses.get(address.nr).toString() : ''}"></div>
					</th:block>

					<th:block
						th:if="${address.hsguid == null || address.aoguid == null}">
						<div class="col-4">Адрес</div>
						<div class="col-8" th:text="${address.addressText}"></div>
					</th:block>

					<div class="col-4 bg-light">Индекс</div>
					<div class="col-8 bg-light" th:text="${address.mailIndex}"></div>

					<div class="col-4">Квартира</div>
					<div class="col-8" th:text="${address.appNum}"></div>

					<div class="col-4 bg-light">Вид источника</div>
					<div class="col-8 bg-light" th:text="${address.dsourceType}"></div>

					<div class="col-4">Источник данных</div>
					<div class="col-8"
						th:text="${address.dsource != null ? address.dsource.title : address.dsourceStr}"></div>

					<div class="col-4 bg-light">Тип адреса</div>
					<div class="col-8 bg-light"
						th:text="${address.addressType eq '1' ? 'Адрес регистрации' : 'Адрес места пребывания'}"></div>

					<div class="col-4">Начало действия</div>
					<div class="col-8"
						th:text="${#temporals.format(address.addressDateB, 'dd.MM.yyyy')}"></div>

					<div class="col-4 bg-light">Конец действия</div>
					<div class="col-8 bg-light"
						th:text="${#temporals.format(address.addressDateE, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Статус</div>
					<div class="col-8" th:text="${address.status}"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="accordion-item" th:fragment="Attach">
		<h2 class="accordion-header" id="headingAttach">
			<button
				th:text="${resultTypes.get(T(ru.sartfoms.personinfo.service.PersonDataService.Show).Attach)}"
				class="accordion-button collapsed" data-bs-toggle="collapse"
				data-bs-target="#collapseAttach" aria-expanded="false"
				aria-controls="collapseAttach"></button>
		</h2>
		<div id="collapseAttach" class="accordion-collapse collapse"
			aria-labelledby="headingAttach" data-bs-parent="#accordion">
			<div class="accordion-body">
				<div class="row shadow-lg p-3 mb-5 bg-white rounded"
					th:if="${attaches.size > 0}" th:each="attach : ${attaches}">
					<div class="col-4">Код типа участка</div>
					<div class="col-8"
						th:text="${attach.areaType == 1 ? 'терапевтическое' : attach.areaType == 2 ? 'прикрепление к женской консультации' : 'стоматологическое'}"></div>

					<div class="col-4 bg-light">ИД участка МО</div>
					<div class="col-8 bg-light" th:text="${attach.areaId}"></div>

					<div class="col-4">Способ прикрепления</div>
					<div class="col-8" th:text="${attach.attachMethod == 1 ? 'по месту регистрации' : attach.attachMethod == 2 ? 'по личному заявлению' : 'по заявлению в электронном виде'}"></div>

					<div class="col-4 bg-light">Метка прикрепления</div>
					<div class="col-8 bg-light" th:text="${attach.mCapitation}"></div>

					<div class="col-4">Дата начала прикрепления</div>
					<div class="col-8"
						th:text="${#temporals.format(attach.dateAttachB, 'dd.MM.yyyy')}"></div>

					<div class="col-4 bg-light">Дата окончания прикрепления</div>
					<div class="col-8 bg-light"
						th:text="${#temporals.format(attach.dateAttachE, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Идентификатор МО</div>
					<div class="col-8" th:text="${attach.moId}"></div>

					<div class="col-4 bg-light">Код МО в реестре ОМС</div>
					<div class="col-8 bg-light"
						th:text="${attach.lpu != null ? attach.lpu.title : attach.mocode}"></div>

					<div class="col-4">Идентификатор филиала МО</div>
					<div class="col-8" th:text="${attach.moFId}"></div>

					<div class="col-4 bg-light">СНИЛС врача</div>
					<div class="col-8 bg-light" th:text="${attach.snilsDoctor}"></div>

					<div class="col-4">ИД участкового врача МО</div>
					<div class="col-8" th:text="${attach.doctorId}"></div>

					<div class="col-4 bg-light">Фактическая дата прикрепления к
						врачу</div>
					<div class="col-8 bg-light"
						th:text="${#temporals.format(attach.doctorSince, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Описание</div>
					<div class="col-8" th:text="${attach.descr}"></div>

					<div class="col-4 bg-light">ОКАТО территории мед. организации</div>
					<div class="col-8 bg-light" th:text="${attach.moOkato != null ? attach.moOkato.title : ''}"></div>

					<div class="col-4">Статус прикрепления</div>
					<div class="col-8" th:text="${attach.attachStatus}"></div>

					<div class="col-4 bg-light">Источник данных</div>
					<div class="col-8 bg-light"
						th:text="${attach.dsource != null ? attach.dsource.title : attach.dsourceStr}"></div>

					<div class="col-4">Вид источника</div>
					<div class="col-8" th:text="${attach.dsourceType}"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 
	<div class="card" th:fragment="Contact">
		<div class="card-header">
			<button
				th:text="${resultTypes.get(T(ru.tfoms.applgar.service.PersDataService.Show).Contact)}"
				class="btn btn-link" data-toggle="collapse"
				data-target="#collapseContact" aria-expanded="false"
				aria-controls="collapseContact"></button>
		</div>
		<div id="collapseContact" class="collapse"
			aria-labelledby="headingOne" data-parent="#accordion">
			<div class="card-body">
				<table class="table table-sm" th:if="${contacts.size > 0}">
					<thead>
						<tr class="small">
							<th>Тип контакта</th>
							<th>Описание</th>
							<th>Содержимое контакта</th>
							<th>Вид источника данных</th>
							<th>Источник данных</th>
							<th>Статус</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="contact : ${contacts}" class='small'>
							<td th:text="${contact.contactType}" />
							<td th:text="${contact.descr}" />
							<td th:text="${contact.contactText}" />
							<td th:text="${contact.dsourceType}" />
							<td
								th:text="${contact.dsource != null ? contact.dsource.title : contact.dsourceStr}" />
							<td th:text="${contact.status}" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="card" th:fragment="Snils">
		<div class="card-header">
			<button
				th:text="${resultTypes.get(T(ru.tfoms.applgar.service.PersDataService.Show).Snils)}"
				class="btn btn-link" data-toggle="collapse"
				data-target="#collapseSnils" aria-expanded="false"
				aria-controls="collapseSnils"></button>
		</div>
		<div id="collapseSnils" class="collapse" aria-labelledby="headingOne"
			data-parent="#accordion">
			<div class="card-body">
				<table class="table table-sm" th:if="${snilses.size > 0}">
					<thead>
						<tr class="small">
							<th>СНИЛС</th>
							<th>Источник данных</th>
							<th>Вид источника данных</th>
							<th>Описание</th>
							<th>Статус</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="snils : ${snilses}" class='small'>
							<td th:text="${snils.snils}" />
							<td
								th:text="${snils.dsource != null ? snils.dsource.title : snils.dsourceStr}" />
							<td th:text="${snils.dsourceType}" />
							<td th:text="${snils.descr}" />
							<td th:text="${snils.status}" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="card" th:fragment="SocialStatus">
		<div class="card-header">
			<button
				th:text="${resultTypes.get(T(ru.tfoms.applgar.service.PersDataService.Show).SocialStatus)}"
				class="btn btn-link" data-toggle="collapse"
				data-target="#collapseSocialStatus" aria-expanded="false"
				aria-controls="collapseSocialStatus"></button>
		</div>
		<div id="collapseSocialStatus" class="collapse"
			aria-labelledby="headingOne" data-parent="#accordion">
			<div class="card-body">
				<table class="table table-sm" th:if="${statuses.size > 0}">
					<thead>
						<tr class="small">
							<th>Cтатус</th>
							<th>Вид источника данных</th>
							<th>Источник данных</th>
							<th>Описание</th>
							<th>Дата регистрации состояния</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="status : ${statuses}" class='small'>
							<td th:text="${status.socialStatus}" />
							<td th:text="${status.dsourceType}" />
							<td
								th:text="${status.dsource != null ? status.dsource.title : status.dsourceStr}" />
							<td th:text="${status.descr}" />
							<td th:text="${#dates.format(status.regDate, 'dd.MM.yyyy')}" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="card" th:fragment="Ern">
		<div class="card-header">
			<button
				th:text="${resultTypes.get(T(ru.tfoms.applgar.service.PersDataService.Show).Ern)}"
				class="btn btn-link" data-toggle="collapse"
				data-target="#collapseErn" aria-expanded="false"
				aria-controls="collapseErn"></button>
		</div>
		<div id="collapseErn" class="collapse" aria-labelledby="headingOne"
			data-parent="#accordion">
			<div class="card-body">
				<table class="table table-sm" th:if="${erns.size > 0}">
					<thead>
						<tr class="small">
							<th>ИД ЕРН</th>
							<th>Источник данных</th>
							<th>Вид источника данных</th>
							<th>Статус ИД ЕРН</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ern : ${erns}" class='small'>
							<td th:text="${ern.ern}" />
							<td
								th:text="${ern.dsource != null ? ern.dsource.title : ern.dsourceStr}" />
							<td th:text="${ern.dsourceType}" />
							<td th:text="${ern.ernstatus}" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>-->
</body>
</html>